
<!-- Head element -->
<title>Grana - Portugal System</title>
<!--  we can place the css files includes here-->
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/ApplicationDetails.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />

