<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grana.Model.Properties.Settings.GranaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Grana;Persist Security Info=True;User ID=sa;Password=password1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>