<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GranaConnectionString" connectionString="Server=(local);Initial Catalog=Grana;User ID=sa;Password=password1;Persist Security Info=True;Network Library=DBMSSOCN" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <!--<smtp from="some-email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="valid-password" />
      </smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="some-email@gmail.com">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>